/* IMPORTING FONT FROM GOOLG FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :ROOT PSEUOD CLASS TO STORE BASIC CSS VARIABLES */

:root {
    --clr-primary-200: hsl(0, 5%, 84%);
    --clr-primary-600: hsl(0, 4%, 22%);

    --ff-primary: 'Montserrat', sans-serif;
}

/* CLASS TO TOGGLE DISPLAY NONE */

.d-none{
    display: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--ff-primary);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* STYLE FOR FILTER CONTAINER */

.filter-container {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter-container form {
    border: 1px solid black;
    max-width: 100%;
    min-width: 50%;
    padding: 1rem;
}

.form-segment {
    margin-block: 0.4rem;
}

.form-segment label{
    font-weight: 600;
}

#minimum-rating {
    width: 100%;
    padding: 0.2rem 0.1rem;
    font-weight: 500;
    outline: none;
}

.filter-button {
    width: 100%;
    padding-block: 0.2rem;
    font-weight: 500;
}

/* STYLE FOR FILTER CONTAINER */



/* STYLE FOR REVIEWS CONTAINER */


.reviews-container{
    flex-basis: 60%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    padding: 0.2rem 0.2rem;
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-600);
}

thead th{
    padding: 0.2rem 0.4rem;
}

tbody {
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-600);
}

tbody tr td {
    padding: 0.2rem 0.1rem;
    font-size: 0.8rem;
}

/* STYLE FOR REVIEWS CONTAINER */




/* MEDIA QUERRY FOR RESPONSIVE DESIGN */

@media only screen and (max-width: 1024px){
    .container {
        flex-direction: column;
    }

    .reviews-container {
        overflow-y: visible;
    }
}